apiVersion: v1
data:
  CRIPTA__SECRETS__KMS_CONFIG__KEY_ID: {{ .Values.server.secrets.key_id | b64enc }}
  CRIPTA__SECRETS__KMS_CONFIG__REGION: {{ .Values.server.secrets.region | b64enc }}
  CRIPTA__CERTS__TLS_CERT: {{ .Values.server.secrets.tls_cert | b64enc }}
  CRIPTA__CERTS__ROOT_CA: {{ .Values.server.secrets.ca_cert | b64enc }}
  CRIPTA__CERTS__TLS_KEY: {{ .Values.server.secrets.tls_key | b64enc }}
kind: Secret
metadata:
  name: keymanager-secrets-{{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
type: Opaque
