{{- if and .Values.services.router.enabled .Values.server.serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  annotations:
  {{- with .Values.server.serviceAccount.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
  {{- with .Values.server.serviceAccount.labels }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
  name: {{ include "hyperswitch-router-sa.name" . }}
  namespace: {{ .Release.Namespace }}
{{- end }}
