{{- if .Values.services.router.enabled }}
{{- if .Values.argoRollouts.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Rollout
{{- else }}
apiVersion: apps/v1
kind: Deployment
{{- end }}
metadata:
  annotations:
    {{- with (default .Values.global.annotations .Values.server.annotations) }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  labels:
    {{- include "hyperswitch.labels" . | nindent 4 }}
    app.kubernetes.io/name: {{ include "hyperswitch-server.name" . }}
    app.kubernetes.io/version: {{ .Values.services.router.version }}
    app: {{ include "hyperswitch-server.name" . }}
    version: {{ include "version.suffix" .Values.services.router.version }}
  name: {{ include "hyperswitch-server.name" . }}
  namespace: {{ .Release.Namespace }}
spec:
  progressDeadlineSeconds: {{ default .Values.global.progressDeadlineSeconds .Values.server.progressDeadlineSeconds }}
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ default .Values.global.replicas .Values.server.replicas }}
  {{- end }}
  {{- if .Values.argoRollouts.enabled }}
  revisionHistoryLimit: {{ .Values.argoRollouts.revisionHistoryLimit }}
  {{- else }}
  revisionHistoryLimit: 10
  {{- end }}
  selector:
    matchLabels:
      app: {{ include "hyperswitch-server.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  {{- if .Values.argoRollouts.enabled }}
  # Argo Rollouts strategy configuration
  strategy:
    canary:
      steps:
      {{- toYaml .Values.argoRollouts.canary.steps | nindent 6 }}
      {{- if .Values.argoRollouts.canary.trafficRouting.istio.enabled }}
      trafficRouting:
        {{- if .Values.argoRollouts.canary.trafficRouting.headerRouting.enabled }}
        # Header-based routing: use managedRoutes, let primary route be unmanaged fallback
        managedRoutes:
          - name: {{ .Values.argoRollouts.canary.trafficRouting.headerRouting.routeName }}
        {{- end }}
        istio:
          virtualService:
            name: {{ .Release.Name }}-hyperswitch-vs
            # Weight-based routing: manage the primary route weights
            routes:
              - "primary"
          destinationRule:
            name: {{ include "hyperswitch-server.name" . }}-dr
            canarySubsetName: {{ .Values.argoRollouts.canary.trafficRouting.istio.destinationRule.canarySubsetName }}
            stableSubsetName: {{ .Values.argoRollouts.canary.trafficRouting.istio.destinationRule.stableSubsetName }}
      {{- end }}
  {{- else }}
  # Standard Deployment strategy
  strategy:
    {{- with (default .Values.global.strategy .Values.server.strategy) }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- end }}
  template:
    metadata:
      annotations:
        checksum/router-config: {{ include (print $.Template.BasePath "/router/configmap.yaml") . | sha256sum }}
        checksum/hyperswitch-configs: {{ include (print $.Template.BasePath "/misc/configmap.yaml") . | sha256sum }}
        checksum/hyperswitch-secrets: {{ include (print $.Template.BasePath "/misc/secrets.yaml") . | sha256sum }}
        {{- with (default .Values.global.podAnnotations .Values.server.podAnnotations) }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        app: {{ include "hyperswitch-server.name" . }}
        version: {{ include "version.suffix" .Values.services.router.version }}
        {{- include "hyperswitch.labels" . | nindent 8 }}
        {{- with (.Values.server.labels | default .Values.global.labels) }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with (default .Values.global.tolerations .Values.server.tolerations) }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (default .Values.global.affinity .Values.server.affinity) }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (default .Values.global.nodeSelector .Values.server.nodeSelector) }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      initContainers:
        {{- include "postgresql.initContainer.check.ready" . | nindent 8 }}
        {{- if .Values.redisMiscConfig.checkRedisIsUp.initContainer.enable }}
        {{- include "redis.initContainer.check.ready" . | nindent 8 }}
        {{- end }}
      containers:
        - name: hyperswitch-router
          {{- $registry := .Values.global.imageRegistry | default .Values.services.router.imageRegistry }}
          image: "{{ $registry }}/{{ .Values.services.router.image }}:{{ .Values.services.router.version }}"
          imagePullPolicy: IfNotPresent
          lifecycle:
            preStop:
              exec:
                command:
                  - /bin/bash
                  - -c
                  - pkill -15 node
          env:
            {{/* TODO this env can be static ? */}}
            - name: BINARY
              value: {{ .Values.server.env.binary }}
          {{- include "metadata.envs" . | nindent 12 }}
          {{- include "generic.envs" . | nindent 12 }}
          {{- if .Values.global.useExternalSecrets.enabled }}
          {{- include "external.secrets.envs" . | nindent 12 }}
          {{- end }}
          {{- include "postgresql.secrets.envs" . | nindent 12 }}
          {{- include "keymanager.envs" . | nindent 12 }}
          {{- include "hyperswitch.configToEnvRefs" (dict "config" .Values.server.configs "prefix" "ROUTER" "context" .) | nindent 12 }}
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-hyperswitch-configs
          {{- if not .Values.global.useExternalSecrets.enabled }}
            - secretRef:
                name: {{ .Release.Name }}-hyperswitch-secrets
          {{- end }}
          livenessProbe:
          {{- toYaml (default .Values.global.livenessProbe .Values.server.livenessProbe) | nindent 12 }}
          readinessProbe:
          {{- toYaml (default .Values.global.readinessProbe .Values.server.readinessProbe) | nindent 12 }}
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
          resources:
            {{- with (default .Values.global.resources .Values.server.resources) }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          securityContext:
            privileged: false
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            {{- if eq .Values.server.run_env "production" }}
            - mountPath: /local/config/production.toml
              name: router-config
              subPath: router.toml
            {{- else }}
            - mountPath: /local/config/sandbox.toml
              name: router-config
              subPath: router.toml
            {{- end }}
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccountName: {{ include "hyperswitch-router-sa.name" . }}
      terminationGracePeriodSeconds: {{ default .Values.global.terminationGracePeriodSeconds .Values.server.terminationGracePeriodSeconds  }}
      volumes:
        - configMap:
            defaultMode: 420
            name: router-cm-{{.Release.Name }}
          name: router-config
{{- end }}
