{{- if .Values.services.router.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "hyperswitch-server.name" . }}
  namespace: {{ .Release.Namespace }}
spec:
  internalTrafficPolicy: Cluster
  ipFamilies:
    - IPv4
  ipFamilyPolicy: SingleStack
  ports:
    - name: http
      port: {{ .Values.server.service.ports.http }}
      protocol: TCP
      targetPort: 8080
    - name: https
      port: {{ .Values.server.service.ports.https }}
      protocol: TCP
      targetPort: 8080
  selector:
    app: {{ include "hyperswitch-server.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
  sessionAffinity: None
  type: {{ .Values.server.service.type }}
{{- end }}
