{{- if and .Values.externalPostgresql.enabled (not .Values.disableInternalSecrets) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "externalPostgresql.secret.name" . }}
data:
  {{- if and .Values.externalPostgresql.primary.auth.password (not (kindIs "map" .Values.externalPostgresql.primary.auth.password)) }}
  primaryPassword: {{ .Values.externalPostgresql.primary.auth.password | b64enc }}
  {{- end }}
  {{- if and .Values.externalPostgresql.primary.auth.plainpassword (not (kindIs "map" .Values.externalPostgresql.primary.auth.plainpassword)) }}
  primaryPlainPassword: {{ .Values.externalPostgresql.primary.auth.plainpassword | b64enc }}
  {{- end }}
  {{- if .Values.externalPostgresql.readOnly.enabled }}
  {{- if and .Values.externalPostgresql.readOnly.auth.password (not (kindIs "map" .Values.externalPostgresql.readOnly.auth.password)) }}
  readOnlyPassword: {{ .Values.externalPostgresql.readOnly.auth.password | b64enc }}
  {{- end }}
  {{- end }}
{{- end }}
