apiVersion: v1
kind: ConfigMap
metadata:
  name: producer-cm-{{.Release.Name }}
data:
  producer.toml: |
    
    {{- if eq .Values.server.run_env "production" -}}
    {{ .Files.Get "configs/producer.toml" | nindent 4 }}
    {{ tpl (.Files.Get "configs/misc.toml") . | nindent 4 }}
    {{ .Files.Get "configs/router-production.toml" | nindent 4 }}
    {{- else -}}
    {{ .Files.Get "configs/producer.toml" | nindent 4 }}
    {{ tpl (.Files.Get "configs/misc.toml") . | nindent 4 }}
    {{ .Files.Get "configs/router-sandbox.toml" | nindent 4 }}
    {{- end }}