apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    {{- with (default .Values.global.annotations .Values.producer.annotations) }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  name: hyperswitch-producer-v1o114o0
  namespace: {{ .Release.Namespace }}
spec:
  progressDeadlineSeconds: {{ default .Values.global.progressDeadlineSeconds .Values.producer.progressDeadlineSeconds }}
  replicas: {{ default .Values.global.replicas .Values.producer.replicas }}
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: {{ .Values.producer.labels.app }}
      version: v1o114o0
  strategy:
    {{- with (default .Values.global.strategy .Values.producer.strategy) }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  template:
    metadata:
      labels:
        app: {{ .Values.producer.labels.app }}
        version: v1o114o0
      annotations:
        checksum/producer-config: {{ include (print $.Template.BasePath "/producer/configmap.yaml") . | sha256sum }}
        checksum/producer-secret: {{ include (print $.Template.BasePath "/producer/secret.yaml") . | sha256sum }}
        checksum/misc-secrets: {{ include (print $.Template.BasePath "/misc/secrets.yaml") . | sha256sum }}
    spec:
      {{- with (default .Values.global.tolerations .Values.producer.tolerations) }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (default .Values.global.affinity .Values.producer.affinity) }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (default .Values.global.nodeSelector .Values.producer.nodeSelector) }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      initContainers:
        {{- include "postgresql.initContainer.check.ready" . | nindent 8 }}
        {{- if .Values.redisMiscConfig.checkRedisIsUp.initContainer.enable }}
        {{- include "redis.initContainer.check.ready" . | nindent 8 }}
        {{- end }}
      containers:
        - name: hyperswitch-producer
          image: {{ .Values.services.producer.image }}
          imagePullPolicy: IfNotPresent
          lifecycle:
            preStop:
              exec:
                command:
                  - /bin/bash
                  - -c
                  - pkill -15 node
          env:
          {{- include "generic.envs" . | nindent 12 }}
          {{- include "postgresql.secrets.envs" . | nindent 12 }}
          envFrom:
            - secretRef:
                name: producer-secret-{{.Release.Name }}
            - secretRef:
                name: hyperswitch-secrets
          resources:
            requests:
              cpu: 100m
              memory: 100Mi
          securityContext:
            privileged: false
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            {{- if eq .Values.server.run_env "production" }}
            - mountPath: /local/config/production.toml
              name: hyperswitch-config
              subPath: producer.toml
            {{- else }}
            - mountPath: /local/config/sandbox.toml
              name: hyperswitch-config
              subPath: producer.toml
            {{- end }}
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccountName: hyperswitch-router-role
      terminationGracePeriodSeconds: {{ .Values.producer.terminationGracePeriodSeconds }}
      volumes:
        - configMap:
            defaultMode: 420
            name: producer-cm-{{.Release.Name }}
          name: hyperswitch-config
