{{- if .Values.externalSecretsOperator.enabled }}
{{- range .Values.externalSecretsOperator.externalSecrets.secrets }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ .name }}
  namespace: {{ $.Release.Namespace }}
spec:
  refreshInterval: {{ .refreshInterval | default "1h" | quote }}
  secretStoreRef:
    name: {{ $.Values.externalSecretsOperator.secretStore.name }}
    # TODO: add support for kind: ClusterSecretStore
    kind: SecretStore
  target:
    name: {{ .targetName }}
    creationPolicy: {{ .creationPolicy | default "Owner" }}
  {{- if .data }}
  data:
  {{- range .data }}
  - secretKey: {{ .secretKey }}
    remoteRef:
      key: {{ .remoteRef.key }}
      {{- if .remoteRef.version }}
      version: {{ .remoteRef.version }}
      {{- end }}
      {{- if .remoteRef.property }}
      property: {{ .remoteRef.property }}
      {{- end }}
  {{- end }}
  {{- end }}
  {{- if .dataFrom }}
  dataFrom:
  {{- range .dataFrom }}
  - extract:
      key: {{ .extract.key }}
      {{- if .extract.version }}
      version: {{ .extract.version }}
      {{- end }}
      {{- if .extract.property }}
      property: {{ .extract.property }}
      {{- end }}
      conversionStrategy: {{ .extract.conversionStrategy | default "Default" }}
      decodingStrategy: {{ .extract.decodingStrategy | default "None" }}
      metadataPolicy: {{ .extract.metadataPolicy | default "None" }}
  {{- end }}
  {{- end }}
{{- end }}
{{- end }}
