{{- if .Values.services.controlCenter.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    {{- with (default .Values.global.annotations .Values.controlCenter.annotations) }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  labels:
    {{- include "hyperswitch.labels" . | nindent 4 }}
    app.kubernetes.io/name: {{ include "hyperswitch-control-center.name" . }}
    app.kubernetes.io/version: {{ .Values.services.controlCenter.version}}
    app: {{ include "hyperswitch-control-center.name" . }}
    version: {{ include "version.suffix" .Values.services.controlCenter.version }}
  name: {{ include "hyperswitch-control-center.name" . }}
  namespace: {{ include "controlCenter.namespace" . }}
spec:
  progressDeadlineSeconds: {{ default .Values.global.progressDeadlineSeconds .Values.controlCenter.progressDeadlineSeconds }}
  replicas: {{ default .Values.global.replicas .Values.controlCenter.replicas }}
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: {{ include "hyperswitch-control-center.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  strategy:
    {{- with (default .Values.global.strategy .Values.controlCenter.strategy) }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  template:
    metadata:
      annotations:
        {{- with (default .Values.global.podAnnotations .Values.controlCenter.podAnnotations) }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        app: {{ include "hyperswitch-control-center.name" . }}
        version: {{ include "version.suffix" .Values.services.controlCenter.version }}
        {{- include "hyperswitch.labels" . | nindent 8 }}
        {{- with (.Values.controlCenter.labels | default .Values.global.labels) }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with (default .Values.global.tolerations .Values.controlCenter.tolerations) }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (default .Values.global.affinity .Values.controlCenter.affinity) }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (default .Values.global.nodeSelector .Values.controlCenter.nodeSelector) }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: hyperswitch-control-center
          {{- $registry := .Values.global.imageRegistry | default .Values.services.controlCenter.imageRegistry }}
          image: "{{ $registry }}/{{ .Values.services.controlCenter.image }}:{{ .Values.services.controlCenter.version }}"
          imagePullPolicy: IfNotPresent
          lifecycle:
            preStop:
              exec:
                command:
                  - /bin/bash
                  - -c
                  - pkill -15 node
          env:
            {{- range $key, $value := .Values.controlCenter.env }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
            - name: apiBaseUrl
              value: {{ .Values.services.router.host }}
            - name: sdkBaseUrl
              value: {{ include "hyperswitchWeb.hyperloaderUrl" . }}
            - name: "default__endpoints__api_url"
              value: {{ .Values.services.router.host }}
            - name: "default__endpoints__sdk_url"
              value: {{ include "hyperswitchWeb.hyperloaderUrl" . }}
            - name: "default__endpoints__apple_pay_certificate_url"
              value: "{{ .Values.services.router.host }}/applepay-domain/apple-developer-merchantid-domain-association"
            - name: "default__features__audit_trail"
              value: "{{ .Values.clickhouse.enabled }}"
          ports:
            - containerPort: 9000
              name: http
              protocol: TCP
          resources:
            requests:
              cpu: 100m
              memory: 100Mi
          securityContext:
            privileged: false
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccountName: {{ include "hyperswitch-control-center-sa.name" . }}
      terminationGracePeriodSeconds: {{ .Values.controlCenter.terminationGracePeriodSeconds }}
{{- end }}
