{{- if and .Values.services.controlCenter.enabled .Values.controlCenter.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Release.Name }}-hyperswitch-control-center-ingress
  namespace: {{ .Release.Namespace }}
  annotations:
    {{- with .Values.controlCenter.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  {{- if .Values.controlCenter.ingress.className }}
  ingressClassName: {{ .Values.controlCenter.ingress.className }}
  {{- end }}
  {{- if .Values.controlCenter.ingress.tls }}
  tls:
    {{- toYaml .Values.controlCenter.ingress.tls | nindent 4 }}
  {{- end }}
  rules:
    - {{- if .Values.controlCenter.ingress.hostname }}
      host: {{ .Values.controlCenter.ingress.hostname | quote }}
      {{- end }}
      http:
        paths:
          - path: {{ .Values.controlCenter.ingress.path }}
            pathType: {{ .Values.controlCenter.ingress.pathType }}
            backend:
              service:
                name: hyperswitch-control-center
                port:
                  number: 80
{{- end }}
