{{- if .Values.services.controlCenter.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: hyperswitch-control-center
  namespace: {{ .Release.Namespace }}
spec:
  internalTrafficPolicy: Cluster
  ipFamilies:
    - IPv4
  ipFamilyPolicy: SingleStack
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 9000
    - name: https
      port: 443
      protocol: TCP
      targetPort: 9000
  selector:
    app: hyperswitch-control-center
  sessionAffinity: None
  type: ClusterIP
{{- end }}