{{- if .Values.services.controlCenter.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "hyperswitch-control-center.name" . }}
  namespace: {{ include "controlCenter.namespace" . }}
spec:
  internalTrafficPolicy: Cluster
  ipFamilies:
    - IPv4
  ipFamilyPolicy: SingleStack
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 9000
    - name: https
      port: 443
      protocol: TCP
      targetPort: 9000
  selector:
    app: {{ include "hyperswitch-control-center.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
  sessionAffinity: None
  type: ClusterIP
{{- end }}
