# Configuration values used for the deployment of the application
application:
  # The is the configuration that is globally common for all the application related deployments
  global:
    # Number of replicas to be used for the application by default (for server and consumer)
    replicas: 3
    # Wait time allowed for the deployment before the deployment is marked as failed
    progressDeadlineSeconds: 600
    # The strategy that can be used to replace the old pods by new ones
    strategy:
      rollingUpdate:
        maxSurge: 1
        maxUnavailable: 0
      type: RollingUpdate
    # Specify affinity for nodes to which the pods should start on
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node-type
                operator: In
                values:
                  - generic-compute
    # The time kubernetes will wait after sending the termination signal to the pods
    terminationGracePeriodSeconds: 30
    # Annotations that are to be added to the pods
    podAnnotations:
      traffic_sidecar_istio_io_excludeOutboundIPRanges: 10.23.6.12/32 
    # Annotations that are to be added the the deployments
    annotations:
      deployment.kubernetes.io/revision: "1"
    # Labels to be added to the all the deployments and their pods
    labels:
      managedBy: hyperswitch

    # service account annotations to be used
    serviceAccountAnnotations:
      eks.amazonaws.com/role-arn: 
    # Environmant variables that are to be used by the hyperswitch application services
    env:
      pod_name: 
        name: POD_NAME
        valueFrom:
          fieldRef:
            apiVersion: v1
            fieldPath: metadata.name

    configMap: |
      [server]
      host = 0.0.0.0

    # secrets to be used by the hyperswitch application
    secrets:


  server:
    # Number of replicas to be used for the application
    replicas: 3
    # Wait time allowed for the deployment before the deployment is marked as failed
    progressDeadlineSeconds: 600
    # The strategy that can be used to replace the old pods by new ones
    strategy:
      rollingUpdate:
        maxSurge: 1
        maxUnavailable: 0
      type: RollingUpdate
    # Specify affinity for nodes to which the pods should start on
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node-type
                operator: In
                values:
                  - generic-compute
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              app: hyperswitch-server
          topologyKey: "kubernetes.io/hostname"
    # The time kubernetes will wait after sending the termination signal to the pods
    terminationGracePeriodSeconds: 30
    # Annotations that are to be added to the pods (extends global configuration)
    podAnnotations:
      traffic_sidecar_istio_io_excludeOutboundIPRanges: 10.23.6.12/32 
    # Annotations that are to be added the the deployments (extends global configuration)
    annotations:
      deployment.kubernetes.io/revision: "1"
    # Labels to be added to the deployment's (match labels) and their pods (extends global configuration)
    labels:
      app: hyperswitch-server
    # service account annotations to be used
    serviceAccountAnnotations:
      eks.amazonaws.com/role-arn: 
    # Environmant variables that are to be used by the hyperswitch application service this will extend the existing global configuration
    env:
      binary: router
      host: hyperswitch
    secrets:
      kms_admin_api_key: test_admin
      kms_jwt_secret: test_admin
      admin_api_key: test_admin
      jwt_secret: test_admin
      recon_admin_api_key: test_admin
    master_enc_key: 471f22516724347bcca9c20c5fa88d9821c4604e63a6aceffd24605809c9237c
    locker:
      host: locker-host
      locker_public_key: |
        public
      hyperswitch_private_key: |
        private
    basilisk:
      host: basilisk-host
    server_base_url: https://sandbox.hyperswitch.io
  consumer:
    # Number of replicas to be used for the application
    replicas: 1
    # Wait time allowed for the deployment before the deployment is marked as failed
    progressDeadlineSeconds: 600
    # The strategy that can be used to replace the old pods by new ones
    strategy:
      rollingUpdate:
        maxSurge: 1
        maxUnavailable: 0
      type: RollingUpdate
    # Specify affinity for nodes to which the pods should start on
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node-type
                operator: In
                values:
                  - generic-compute
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              app: hyperswitch-server
          topologyKey: "kubernetes.io/hostname"
    # The time kubernetes will wait after sending the termination signal to the pods
    terminationGracePeriodSeconds: 30
    # Annotations that are to be added to the pods (extends global configuration)
    podAnnotations:
      traffic_sidecar_istio_io_excludeOutboundIPRanges: 10.23.6.12/32 
    # Annotations that are to be added the the deployments (extends global configuration)
    annotations:
      deployment.kubernetes.io/revision: "1"
    # Labels to be added to the deployment's (match labels) and their pods (extends global configuration)
    labels:
      app: hyperswitch-consumer
    # service account annotations to be used
    serviceAccountAnnotations:
      eks.amazonaws.com/role-arn: 
    # Environmant variables that are to be used by the hyperswitch application service this will extend the existing global configuration
    env:
      binary: consumer


  producer:
    # Number of replicas to be used for the application
    replicas: 1
    # Wait time allowed for the deployment before the deployment is marked as failed
    progressDeadlineSeconds: 600
    # The strategy that can be used to replace the old pods by new ones
    strategy:
      rollingUpdate:
        maxSurge: 1
        maxUnavailable: 0
      type: RollingUpdate
    # Specify affinity for nodes to which the pods should start on
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node-type
                operator: In
                values:
                  - generic-compute
    # The time kubernetes will wait after sending the termination signal to the pods
    terminationGracePeriodSeconds: 30
    # Annotations that are to be added to the pods (extends global configuration)
    podAnnotations:
      traffic_sidecar_istio_io_excludeOutboundIPRanges: 10.23.6.12/32 
    # Annotations that are to be added the the deployments (extends global configuration)
    annotations:
      deployment.kubernetes.io/revision: "1"
    # Labels to be added to the deployment's (match labels) and their pods (extends global configuration)
    labels:
      app: hyperswitch-producer
    # service account annotations to be used
    serviceAccountAnnotations:
      eks.amazonaws.com/role-arn: 
    # Environmant variables that are to be used by the hyperswitch application service this will extend the existing global configuration
    env:
      binary: producer
  
  controlCenter:
    # Image to be used by the deployment to create the pod
    image: juspaydotin/hyperswitch-control-center:v1.17.0
    # Number of replicas to be used for the application
    replicas: 1
    # Wait time allowed for the deployment before the deployment is marked as failed
    progressDeadlineSeconds: 600
    # The strategy that can be used to replace the old pods by new ones
    strategy:
      rollingUpdate:
        maxSurge: 1
        maxUnavailable: 0
      type: RollingUpdate
    # Specify affinity for nodes to which the pods should start on
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node-type
                operator: In
                values:
                  - generic-compute
    # The time kubernetes will wait after sending the termination signal to the pods
    terminationGracePeriodSeconds: 30
    # Annotations that are to be added to the pods (extends global configuration)
    podAnnotations:
      traffic_sidecar_istio_io_excludeOutboundIPRanges: 10.23.6.12/32 
    # Annotations that are to be added the the deployments (extends global configuration)
    annotations:
      deployment.kubernetes.io/revision: "1"
    # Labels to be added to the deployment's (match labels) and their pods (extends global configuration)
    labels:
      app: hyperswitch-control-center
    # service account annotations to be used
    serviceAccountAnnotations:
      eks.amazonaws.com/role-arn: 
    # Environmant variables that are to be used by the hyperswitch application service this will extend the existing global configuration
    env:
      binary: dashboard
      host: hyperswitch-control-center

  sdk:
    # Number of replicas to be used for the application
    replicas: 1
    # Wait time allowed for the deployment before the deployment is marked as failed
    progressDeadlineSeconds: 600
    # The strategy that can be used to replace the old pods by new ones
    strategy:
      rollingUpdate:
        maxSurge: 1
        maxUnavailable: 0
      type: RollingUpdate
    # Specify affinity for nodes to which the pods should start on
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node-type
                operator: In
                values:
                  - generic-compute
    # The time kubernetes will wait after sending the termination signal to the pods
    terminationGracePeriodSeconds: 30
    # Annotations that are to be added to the pods (extends global configuration)
    podAnnotations:
      traffic_sidecar_istio_io_excludeOutboundIPRanges: 10.23.6.12/32 
    # Annotations that are to be added the the deployments (extends global configuration)
    annotations:
      deployment.kubernetes.io/revision: "1"
    # Labels to be added to the deployment's (match labels) and their pods (extends global configuration)
    labels:
      app: hyperswitch-sdk-demo
    # service account annotations to be used
    serviceAccountAnnotations:
      eks.amazonaws.com/role-arn: 
    # Environmant variables that are to be used by the hyperswitch application service this will extend the existing global configuration

# configuration values to be used by the service that is connected to the hyperswitch server
services:
  router: 
    version: v1.105.0
    image: juspaydotin/hyperswitch-router:v1.105.0-standalone
    host: http://localhost:8080
  consumer:
    image: juspaydotin/hyperswitch-consumer:v1.105.0-standalone
  producer:
    image: juspaydotin/hyperswitch-producer:v1.105.0-standalone
  controlCenter:
    image: juspaydotin/hyperswitch-control-center:v1.17.0
  sdkDemo:
    image: juspaydotin/hyperswitch-web:v1.0.10
    version: 0.16.7
    subversion: v0
    host: http://localhost:9090
    hyperswitchPublishableKey: pub_key
    hyperswitchSecretKey: secret_key

redis:
  # - enable Bitnami redis sub-chart helm installation
  enabled: true
  master:
    count: 1
  replica:
    replicaCount: 0
  auth:
    enabled: false
    sentinel: false

# TODO to handle
externalRedis: {}

loadBalancer: 
  targetSecurityGroup: sg-0472eff4b96ca30f0

db: 
  #denotes if the db has to be created as a part of the deployment
  internal: true
  # Name of the database to be used
  name: hyperswitch
  # Hostname of the database to be used
  host:  hypers-v1-postgresql
  # Hostname of the database to be used for read replicas
  replica_host:  hypers-v1-postgresql
  # Username of the database to be used
  user_name: db_user
  # Password of the database to be used
  password: "ZGJwYXNzd29yZDEx" #base64 encoded password eg: `echo -n "dbpassword11" | base64`
  #psql -h  hypers-v1-postgresql -U db_user -d hyperswitch

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80

postgresql:
  global:
    postgresql:
      auth:
        postgresPassword: dbpassword11
        username: db_user
        password: dbpassword11
        database: hyperswitch

promtail:
  enabled: true
  config:
    snippets:
      extraRelabelConfigs:
        - action: "keep"
          regex: "hyperswitch-.*"
          source_labels: ["__meta_kubernetes_pod_label_app"]

grafana:
  enabled: true
  adminPassword: "admin"
  image: 
    tag: 10.0.1