{{- if .Values.initDB.enable }}
apiVersion: batch/v1
kind: Job
metadata:
  name: hyperswitch-create-db-{{ regexReplaceAll "\\." .Values.services.router.version "-" }}
  labels:
    app: hyperswitch-create-db-{{ regexReplaceAll "\\." .Values.services.router.version "-" }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-delete-policy": hook-succeeded
spec:
  template:
    metadata:
      labels:
        sidecar.istio.io/inject: "false"
    spec:
      restartPolicy: OnFailure
      {{- with (default .Values.global.tolerations .Values.server.tolerations) }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (default .Values.global.affinity .Values.server.affinity) }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (default .Values.global.nodeSelector .Values.server.nodeSelector) }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      initContainers:
        {{- include "postgresql.initContainer.check.ready" . | nindent 8 }}
      containers:
        - name: run-hyperswitch-db-migration
          image: {{ .Values.initDB.migration.image }}
          imagePullPolicy: IfNotPresent
          command: [ '/bin/sh', '-c' ]
          #language=sh
          args:
            - |-
              curl -L -o hyperswitch.tar.gz https://github.com/juspay/hyperswitch/archive/refs/$REFERENCE/$ROUTER_VERSION.tar.gz
              tar -xzvf hyperswitch.tar.gz --transform 's|[^/]*/|hyperswitch/|'
              cd hyperswitch
              diesel migration --database-url postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST:5432/$DBNAME run
              echo "Completed hyperswitch database migration"
          env:
            - name: REFERENCE
              value: {{ .Values.initDB.refs }}
            - name: ROUTER_VERSION
              value: {{ .Values.services.router.version }}
            - name: POSTGRES_HOST
              value: {{ include "postgresql.host" . }}
            - name: DBNAME
              value: {{ include "postgresql.database" . }}
            - name: POSTGRES_USER
              value: {{ include "postgresql.username" . }}
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "postgresql.secret" . }}
                  {{- if .Values.postgresql.enabled }}
                  key: password
                  {{- else if .Values.externalPostgresql.enabled }}
                  key: primaryPlainPassword
                  {{- end }}
{{- end }}
