apiVersion: v1
kind: ConfigMap
metadata:
  name: ucs-config-{{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
data:
  ucs.toml: |
    {{- if eq .Values.server.run_env "production" }}
    {{ .Files.Get "configs/router-production.toml" | nindent 4 }}
    {{- else }}
    {{ .Files.Get "configs/router-sandbox.toml" | nindent 4 }}
    {{- end }}
