apiVersion: v1
kind: ConfigMap
metadata:
  name: ucs-cm-{{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
data:
  ucs.toml: |
    {{- if eq .Values.config.server.run_env "production" }}
    {{ .Files.Get "configs/ucs-production.toml" | nindent 4 }}
    {{- else }}
    {{ .Files.Get "configs/ucs-sandbox.toml" | nindent 4 }}
    {{- end }}