{{- if .Values.services.drainer.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: drainer-secret-{{.Release.Name }}
  namespace: {{ .Release.Namespace }}
data:
  DRAINER__MASTER_DATABASE__HOST: {{ include "postgresql.host" . | b64enc }}
  DRAINER__MASTER_DATABASE__DBNAME: {{ include "postgresql.database" . | b64enc }}
  DRAINER__MASTER_DATABASE__PORT: {{ include "postgresql.port" . | toString | b64enc }}
  DRAINER__MASTER_DATABASE__USERNAME: {{ include "postgresql.username" . | b64enc }}
  DRAINER__REDIS__HOST: {{ include "redis.host" .  | b64enc }}
  DRAINER__REDIS__PORT: {{ include "redis.port" . | toString | b64enc }}
{{- end }}
