apiVersion: batch/v1
kind: Job
metadata:
  name: prestart-hook
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "5"
    "helm.sh/hook-delete-policy": hook-succeeded,hook-failed,before-hook-creation
spec:
  template:
    metadata:
      labels:
        sidecar.istio.io/inject: "false"
    spec:
      restartPolicy: Never
      containers:
        - name: prestart-hook
          image: curlimages/curl-base:latest
          command: ["/bin/sh", "-c"]
          args:
            - |
              # Install dependencies
              apk add --no-cache bash && \
              /bin/bash -c '
                set -euo pipefail
                INSTALLATION_METHOD="{{- if .Release.IsInstall }}helm-install{{- else if .Release.IsUpgrade }}helm-upgrade{{- end }}"
                WEBHOOK_URL="https://hyperswitch.gateway.scarf.sh/helm-chart"
                VERSION="{{ .Chart.Version }}"
                STATUS="initiated"

                # Send the GET request
                curl --get "${WEBHOOK_URL}" --data-urlencode "method=${INSTALLATION_METHOD}" --data-urlencode "version=${VERSION}" --data-urlencode "status=${STATUS}"

                # Print confirmation
                echo "Request sent to ${WEBHOOK_URL} with method=${INSTALLATION_METHOD}, version=${VERSION} and status=${STATUS}"

                exit 0
              '
