{{- if .Values.services.router.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-hyperswitch-configs
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "hyperswitch.labels" . | nindent 4 }}
    app.kubernetes.io/component: config-map
data:
  # Database configs:
  ROUTER__MASTER_DATABASE__DBNAME: {{ include "postgresql.database" . }}
  ROUTER__MASTER_DATABASE__HOST: {{ include "postgresql.host" . }}
  ROUTER__MASTER_DATABASE__PORT: {{ include "postgresql.port" . | quote }}
  ROUTER__MASTER_DATABASE__USERNAME: {{ include "postgresql.username" . }}
  ROUTER__REPLICA_DATABASE__DBNAME: {{ include "postgresql.database" . }}
  ROUTER__REPLICA_DATABASE__HOST: {{ include "postgresql.host" . }}
  ROUTER__REPLICA_DATABASE__PORT: {{ include "postgresql.port" . | quote }}
  ROUTER__REPLICA_DATABASE__USERNAME: {{ include "postgresqlreplica.username" . }}
  # Redis configs
  ROUTER__REDIS__HOST: {{ include "redis.host" . }}
  ROUTER__REDIS__PORT: {{ include "redis.port" . | quote }}
  # Configs from values.server.configs will be generated as environment variables with prefix ROUTER_
  {{- include "hyperswitch.configToEnvVars" (dict "config" .Values.server.configs "prefix" "ROUTER" "context" .) | nindent 2 }}
{{- end }}
