{{- if and .Values.services.router.enabled (not .Values.disableInternalSecrets) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-hyperswitch-secrets
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "hyperswitch.labels" . | nindent 4 }}
    app.kubernetes.io/component: secret
data:
  {{- include "hyperswitch.configToSecrets" (dict "config" .Values.server.configs "prefix" "ROUTER" "context" .) | nindent 2 }}
{{- end }}
