{{- if .Values.services.consumer.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    {{- with (default .Values.global.annotations .Values.consumer.annotations) }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  labels:
    {{- include "hyperswitch.labels" . | nindent 4 }}
    app.kubernetes.io/name: {{ include "hyperswitch-consumer.name" . }}
    app.kubernetes.io/version: {{ .Values.services.consumer.version }}
    app: {{ include "hyperswitch-consumer.name" . }}
    version: {{ include "version.suffix" .Values.services.consumer.version }}
  name: {{ include "hyperswitch-consumer.name" . }}
  namespace: {{ .Release.Namespace }}
spec:
  progressDeadlineSeconds: {{ default .Values.global.progressDeadlineSeconds .Values.consumer.progressDeadlineSeconds }}
  replicas: {{ default .Values.global.replicas .Values.consumer.replicas }}
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: {{ include "hyperswitch-consumer.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
      version: {{ include "version.suffix" .Values.services.consumer.version }}
  strategy:
    {{- with (default .Values.global.strategy .Values.consumer.strategy) }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  template:
    metadata:
      annotations:
        checksum/consumer-config: {{ include (print $.Template.BasePath "/consumer/configmap.yaml") . | sha256sum }}
        checksum/hyperswitch-configs: {{ include (print $.Template.BasePath "/misc/configmap.yaml") . | sha256sum }}
        checksum/hyperswitch-secrets: {{ include (print $.Template.BasePath "/misc/secrets.yaml") . | sha256sum }}
        {{- with (default .Values.global.podAnnotations .Values.consumer.podAnnotations) }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        app: {{ include "hyperswitch-consumer.name" . }}
        version: {{ include "version.suffix" .Values.services.consumer.version }}
        {{- include "hyperswitch.labels" . | nindent 8 }}
        {{- with (.Values.consumer.labels | default .Values.global.labels) }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with (default .Values.global.tolerations .Values.consumer.tolerations) }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (default .Values.global.affinity .Values.consumer.affinity) }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (default .Values.global.nodeSelector .Values.consumer.nodeSelector) }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      initContainers:
        {{- include "postgresql.initContainer.check.ready" . | nindent 8 }}
        {{- if .Values.redisMiscConfig.checkRedisIsUp.initContainer.enable }}
        {{- include "redis.initContainer.check.ready" . | nindent 8 }}
        {{- end }}
      containers:
        - name: hyperswitch-consumer
          {{- $registry := .Values.global.imageRegistry | default .Values.services.consumer.imageRegistry }}
          image: "{{ $registry }}/{{ .Values.services.consumer.image }}:{{ .Values.services.consumer.version }}"
          imagePullPolicy: IfNotPresent
          lifecycle:
            preStop:
              exec:
                command:
                  - /bin/bash
                  - -c
                  - pkill -15 node
          env:
            - name: BINARY
              value: {{ .Values.consumer.env.binary }}
            - name: SCHEDULER_FLOW
              value: consumer
          {{- include "metadata.envs" . | nindent 12 }}
          {{- include "generic.envs" . | nindent 12 }}
          {{- if .Values.global.useExternalSecrets.enabled }}
          {{- include "external.secrets.envs" . | nindent 12 }}
          {{- end }}
          {{- include "postgresql.secrets.envs" . | nindent 12 }}
          {{- include "keymanager.envs" . | nindent 12 }}
          {{- include "hyperswitch.configToEnvRefs" (dict "config" .Values.server.configs "prefix" "ROUTER" "context" .) | nindent 12 }}
          {{- include "hyperswitch.configToEnvRefs" (dict "config" .Values.consumer.configs "prefix" "ROUTER" "context" .) | nindent 12 }}
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-hyperswitch-configs
            - configMapRef:
                name: consumer-cm-{{ .Release.Name }}
          {{- if not .Values.global.useExternalSecrets.enabled }}
            - secretRef:
                name: {{ .Release.Name }}-hyperswitch-secrets
          {{- end }}
          resources:
            {{- with (default .Values.global.resources .Values.consumer.resources) }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          securityContext:
            privileged: false
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            {{- if eq .Values.server.run_env "production" }}
            - mountPath: /local/config/production.toml
              name: hyperswitch-config
              subPath: consumer.toml
            {{- else }}
            - mountPath: /local/config/sandbox.toml
              name: hyperswitch-config
              subPath: consumer.toml
            {{- end }}


      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccountName: {{ include "hyperswitch-router-sa.name" . }}
      terminationGracePeriodSeconds: {{ .Values.consumer.terminationGracePeriodSeconds }}
      volumes:
        - configMap:
            defaultMode: 420
            name: router-cm-{{ .Release.Name }}
          name: hyperswitch-config
{{- end }}
