apiVersion: v1
kind: Secret
metadata:
  name: consumer-secret-{{.Release.Name }}
  namespace: {{ .Release.Namespace }}
data:
  ROUTER__ANALYTICS__SQLX__USERNAME: {{ include "postgresqlreplica.username" . | b64enc }}
  ROUTER__ANALYTICS__SQLX__HOST: {{ include "postgresqlreplica.host" . | b64enc }}
  ROUTER__ANALYTICS__SQLX__PORT: {{ include "postgresqlreplica.port" . | b64enc }}
  ROUTER__ANALYTICS__SQLX__DBNAME: {{ include "postgresql.database" . | b64enc }}
  ROUTER__MASTER_DATABASE__HOST: {{ include "postgresql.host" . | b64enc }}
  ROUTER__MASTER_DATABASE__DBNAME: {{ include "postgresql.database" . | b64enc }}
  ROUTER__MASTER_DATABASE__PORT: {{ include "postgresql.port" . | toString | b64enc }}
  ROUTER__MASTER_DATABASE__USERNAME: {{ include "postgresql.username" . | b64enc }}
  ROUTER__REPLICA_DATABASE__HOST: {{ include "postgresql.host" . | b64enc }}
  ROUTER__REPLICA_DATABASE__DBNAME: {{ include "postgresql.database" . | b64enc }}
  ROUTER__REPLICA_DATABASE__PORT: {{ include "postgresql.port" . | toString | b64enc }}
  ROUTER__REPLICA_DATABASE__USERNAME: {{ include "postgresqlreplica.username" . | b64enc }}
  ROUTER__REDIS__HOST: {{ include "redis.host" .  | b64enc }}
  ROUTER__REDIS__PORT: {{ include "redis.port" . | toString | b64enc }}
  ROUTER__LOCKER__REDIS_TEMP_LOCKER_ENCRYPTION_KEY: {{ .Values.server.secrets.redis_temp_locker_encryption_key | b64enc }}
  ROUTER__PAYMENT_METHOD_AUTH__PM_AUTH_KEY: {{ .Values.server.secrets.pm_auth_key | b64enc }}