# Default values for helm.
global:
  # Annotations to be added to all resources
  annotations: {}

  # Node affinity to be added to all resources
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution: []

# Values for hyperswitch-card-vault.
server:
  # Annotations to be added to hyperswitch-card-vault.
  annotations: {}

  # Image to be used for hyperswitch-card-vault.
  image: juspaydotin/hyperswitch-card-vault:v0.4.0

  # values to be used in pod template.
  pod:
    # Annotations to be added to hyperswitch-card-vault pod.
    annotations: {}

  # Node affinity to be added to hyperswitch-card-vault.
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      []
      # matchExpression:
      # - key: spot-instance
      #   operator: NotIn
      #   values:
      #     - "true"
      # - key: <label for the node>
      #   operator: In
      #   values:
      #     - <Value for the label>

  # Secrets to be added to hyperswitch-card-vault.
  # To create the master key, follow the instructions provided here: https://github.com/juspay/hyperswitch-card-vault/blob/main/docs/guides/setup.md#preparing-the-required-keys
  secrets:
    # Optionally, you can run `cargo install --git https://github.com/juspay/hyperswitch-card-vault --root . && ./bin/utils master-key && rm ./bin/utils && rmdir ./bin`
    master_key: a164665dd3a545c194aa297e4d2cdbd19aa3c59865907e9ffffb7b8d9fcb476208f84fe53bbc7801f2b8eb1aab633fb24ad0bb99b275066fb56516ef

    # To create this key pairs, follow the instructions provided here:
    ## Generating the private keys
    # openssl genrsa -out locker-private-key.pem 2048
    # openssl genrsa -out tenant-private-key.pem 2048
    #
    # # Generating the public keys
    # openssl rsa -in locker-private-key.pem -pubout -out locker-public-key.pem
    # openssl rsa -in tenant-private-key.pem -pubout -out tenant-public-key.pem

    # The private key for the locker from locker-private-key.pem
    locker_private_key: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEAsgwEJaGbRA1DNMzubq4M7d+i6TSrFPiqrqnNkO0Dct58jGbJ
      36xIOxfsf7qa03kP+idEZnh0w9kWcVmx4aL+nqeDzQtZ8RQdBMg2lJl4srDjxdKT
      ABdeMq3c6W+tyXG1E/vz2qik0ROp65JkxlTST1e4wWC9IwpmaNAFtjW9oFc48K6O
      u7SZOl/hAm5QJPUxsY1lFbbVwQD6pbRRhLaszrGRFqczQVhtCz6ZsJWSpSwfpZAh
      NKlBHatkuojY4yLw/Qey3xaCR83fn2hCaoXO++9ffcbPIwxb7XTkbc25kJT+bOuN
      5ttnmAPRDV1l5hR432fiSqNIo015gTy83Nv2LwIDAQABAoIBAGCpXWcAwcbEXIRB
      7gBwxdwu2cc6LNeJ2UBSN6RCyOiIGZ4v/9FLOzu51U/TA1NkGmR5BQ2Mv/fD2AdZ
      5tTVJN8FmuyrCP11Kfv6pocuevSoTECN/fjCtwVUlua1FuiSrvhWhSFlBXXs8wdN
      xyBV1If22/tAhe6MKuUkarVtn7F4QTa+vWbdbEI5cC4Y4k3h6W8h065ZHW8CLV2V
      Fk9WtqDf+e7K4E04R0k6CvO5fK3PvxRBB5/foObG28ut/8el+2SmP809aYQnYy8j
      8uVbOIYEb2GTPWBxNk/gvIX5o3Kk6DT2RpUuu6RMwaMk2GWWoIjJBz17bACelMiG
      S36xaKECgYEA2itL446mYkQYhJM1AwEojxs8O3/MysDJfiOZY0vFoXTk+Xv9Ae15
      n7VNPdwrQy8YMsB3kpXjU3W6gKXlpW7bnFp4h2/V4VuLaEhSknF+hYNPk1V2y1iq
      XcUlgqDi3N43o0Z0sS7D1IA1hzeI63YQ9FPP/kYF61SELtT9U8OH110CgYEA0Oup
      11A0YjFEF3OemtOWXExi0DFocn5c+/o+tIPZX3MUCISOSEslT1qYe++NRoQBIB+p
      slR30DJRZrl6R4fsP4Upr/iclyBYZsX7KonOdhmzPiuTG+khVSb22ejY81hAUzjl
      AeDV3QlMN3lmHAVcfavJgfIeYCC/hm1P32hEJvsCgYAMbUzsUFLP5BsVaiEp46YA
      yMdciEINBoAzrClvi4BdWwAz6ckWlAVKgJQ+wszADe2t7mKhOeJx/ZG7BDgZfUAL
      HuggptEi/gjpzrzNVKOlTT56IPMcUBecMb+aOjnR5OJ8bWX2Nbi34PmrkxE8gEQk
      9qUxUaHCrtS8qisn20pgjQKBgQC4fTMZKQFpKJo5n2cSz//6d5XWxZq3aHESLpTK
      8Ze2Gzg4oV3H51wGLDl1UEBQYedgh7Vh/gdjudt6PBYILrZoDV6Xv5IAPpbyAqje
      kpzYW6+WGgKpZgCCYosgOOfEVE1RcG+CbhpNO5Wrcy/BVNatP1MNxlIejyyyN7uN
      zFRKmwKBgQCOdAQ57htPHkpcXzYreRlwjKiDqaN8rvxqMEu1WyW9Y18T+hcPw8r+
      deYMmUHKvQBUaPG0Q2uu2n+mYKFQK6XucRFeHcPSzElk15nki/DAYaxOLzBEi8hI
      0vCnCqm+d6KBKsS5i0pMgvPdC07VrWKnyzdX4goP0CaAhI0A1OGlsA==
      -----END RSA PRIVATE KEY-----
    # The public key for the locker from locker-public-key.pem
    tenant_public_key: |
      -----BEGIN PUBLIC KEY-----
      MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsSnWltGc6kjcDAhtUoad
      0xlLJZCwLc6P80j8k3dgo92nqocUKD7tsY61dgm3gKFr8sZPLbTaDV1SJ+jAeZNP
      476aonJVPottQvGduB5DqDCMcHDQkrYkBtOb+/ID5qOi8ATVVMfJASjVbw/D0R/A
      EuiG0vmddl+8676xWIT8TZTmzowIvvUIYEuaUS8DRpmTAWPXYdv72fDZtuyhpU0Y
      GAdHGyQrHXwGdGe31N65vmqMyWoiIXGMuJKqP/EZEqmVkkfWXuDioa57YrPUU07o
      D7KsS00L4QGBB3MeJxEpQjhmNybjQeDejl4YPj3dboFyf6468skKS91+wV0Exghy
      TwIDAQAB
      -----END PUBLIC KEY-----

  # Extra values to be added to hyperswitch-card-vault.
  extra:
    # extra env variables to be added to hyperswitch-card-vault.
    env: {}

# Values for database (postgresql).
postgresql:
  enabled: true
  nameOverride: locker-db
  global:
    postgresql:
      auth:
        username: db_user
        password: V2tkS1ptTkhSbnBqZDI4OUNnPT0K
        database: locker-db
        architecture: standalone
  primary:
    name: ""
    resources:
      requests:
        cpu: 100m

external:
  postgresql:
    enabled: false
    config:
      host: # <value for the secret>
      port: # <value for the secret>
      username: # <value for the secret>
      password: # <value for the secret>
      database: # <value for the secret>

# Values for the database migration job
initDB:
  # Should we run the migrations on the database
  enable: true
  checkPGisUp:
    image: postgres:16-alpine3.19
    maxAttempt: 30
  migration:
    image: christophwurst/diesel-cli:latest
